body {
    background: gainsboro;
}
body * {
    margin: 0;
    padding: 0;
}
.App {
    width: calc(min(100vw, 100vh) * 1);
    height: 100vh;
    margin: 0 auto;
    display: grid;
    place-items: center;
    overflow: hidden;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas:
        "left grid right"
        ".... ctrls ..."
        "ftr ftr ftr";
}

.gameGrid {
    display: grid;
    aspect-ratio: 1;
    width: 100%;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
    background: rgb(211, 211, 150);
    border-radius: 3px;
}

.pieceSquare {
    display: grid;
    place-items: center;
    /* border-radius: 2px; */
    border: 1px solid rgba(220, 220, 220, 0.364);
}

.pieceSquare.black {
    background: #333;
    color: #fff;
}
.pieceSquare.white {
    background: white;
    color: #333;
}
.pieceSquare.error {
    border: 4px solid red;
    border-color: rgba(184, 33, 58, 0.8);
}

.movementButtonGrid {
    grid-area: ctrls;
    display: grid;
    grid-template-areas:
        "left up right flipH pass"
        ".. down rotate flipV ai";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
}
.movementButtonGrid button {
    font-size: 1.3rem;
}
.movementButtonGrid .up {
    grid-area: up;
}
.movementButtonGrid .down {
    grid-area: down;
}
.movementButtonGrid .left {
    grid-area: left;
}
.movementButtonGrid .right {
    grid-area: right;
}
.movementButtonGrid .rotate {
    grid-area: rotate;
    transform: scaleX(-1);
}
.movementButtonGrid .flipV {
    grid-area: flipV;
}
.movementButtonGrid .flipH {
    grid-area: flipH;
}
.movementButtonGrid .pass {
    grid-area: pass;
}
.movementButtonGrid .aiMove {
    grid-area: ai;
}

.startingPositionMarker {
    display: grid;
    place-items: center;
    opacity: 0.5;
}

.startingPositionMarker.white {
    color: white;
}

.startingPositionMarker.black {
    color: #333;
}

.pieceChoices {
    padding: 1rem 0.3rem;
    display: grid;
    grid-template-columns: repeat(7, 0.7rem);
    grid-template-rows: repeat(36, 0.7rem);
    margin: 0rem;
    background: #999;
}

.pieceChoices.active {
    border-bottom: 10px solid #333;
}
.pieceChoices {
    border-bottom: 10px solid #33333300;
}
.pieceChoices.passed {
    opacity: 0.5;
}
.pieceChoices.active .pieceSquare {
    cursor: pointer;
}
.pieceChoices.black {
    grid-area: left;
}

.pieceChoices.white {
    grid-area: right;
}

.footer {
    grid-area: ftr;
}
